apiVersion: v1
kind: Service
metadata:
  name: backend-api-service
  namespace: tsp-app
  labels:
    app: backend-api
    tier: backend
  annotations:
    service.beta.kubernetes.io/azure-load-balancer-internal: "true"
    service.beta.kubernetes.io/azure-load-balancer-internal-subnet: "snet-aks"
spec:
  type: LoadBalancer
  selector:
    app: backend-api
  ports:
  - name: http
    protocol: TCP
    port: 80
    targetPort: 3001
  sessionAffinity: ClientIP
  sessionAffinityConfig:
    clientIP:
      timeoutSeconds: 10800