name: Install Loki Stack
on:
 workflow_dispatch:   # manual trigger
 push:
   branches:
     - main
jobs:
 loki:
   runs-on: ubuntu-latest
   steps:
     - name: Checkout repo
       uses: actions/checkout@v4
     - name: Setup kubectl
       uses: azure/setup-kubectl@v4
       with:
         version: v1.28.0
     - name: Setup Helm
       uses: azure/setup-helm@v4
     - name: Configure kubeconfig
       run: |
         echo "${{ secrets.KUBECONFIG }}" > kubeconfig
         export KUBECONFIG=$PWD/kubeconfig
     - name: Add Grafana Helm repo
       run: |
         helm repo add grafana https://grafana.github.io/helm-charts
         helm repo update
     - name: Install Loki Stack
       run: |
         kubectl create namespace monitoring --dry-run=client -o yaml | kubectl apply -f -
         helm upgrade --install loki grafana/loki-stack --namespace monitoring
